<div class="user-container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                <mat-icon class="mat-icon" color="primary">account_box</mat-icon>
                <h1 class="mat-headline-medium">{{title}}</h1>
            </mat-card-title>
        </mat-card-header>
            
            <!-- <ng-container *ngIf="isLogin; else registrationForm"> -->
                 <!-- <app-login></app-login> -->
            <!-- </ng-container> -->

            <!-- <ng-template #registrationForm> -->
                <app-registration></app-registration>
            <!-- </ng-template> -->
    </mat-card>
</div>