.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e2e2e2;
  }

mat-card {
  width: 768px;
  padding: 20px;
  box-shadow: 0 4px 8px #00000033;
  text-align: center;
}