mat-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 0;
    }
  
  .mat-icon {
  font-size: 48px;
    width: 48px;
    height: 48px;
  }
  
  .mat-headline-medium {
    color: #3a3a3a;
  }