mat-card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 0;
  }

.mat-icon {
font-size: 48px;
  width: 48px;
  height: 48px;
}

.mat-headline-medium {
  color: #3a3a3a;
}

.form-container {
  position: relative;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 16px;
  
    &__firstname,
    &__lastname,
    &__birthdate,
    &__phonenumber {
      grid-column: span 1; /* Esses campos ocupam 50% cada */
    }
  
    &__email,
    &__password,
    &__confirmPassword {
      grid-column: span 2; /* Esses campos ocupam 100% */
    }
  
    &__acceptTerms {
      grid-column: span 2; /* Checkbox ocupa 100% */
      text-align: left;
    }
}

mat-form-field {
    width: 100%; /* Garante que o input ocupe 100% da div */
}


button {
    grid-column: span 2; /* O botão ocupa 100% */
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
}

a {
  color: #005cbb;
  font-size: 14px;
  text-decoration: none;
}