.form-container {
  position: relative;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 16px;
  
    &__firstname,
    &__lastname,
    &__birthdate,
    &__phonenumber {
      grid-column: span 1; /* Esses campos ocupam 50% cada */
    }
  
    &__email,
    &__password,
    &__confirmPassword {
      grid-column: span 2; /* Esses campos ocupam 100% */
    }
  
    &__acceptTerms {
      grid-column: span 2; /* Checkbox ocupa 100% */
      text-align: left;
    }
}

mat-form-field {
    width: 100%; /* Garante que o input ocupe 100% da div */
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none; /* Remove o wrapper dos hints e mensagens de erro */
}

::ng-deep .mat-mdc-form-field {
  margin-bottom: 0px; /* Remove qualquer margem inferior aplicada */
}


button {
    grid-column: span 2; /* O botão ocupa 100% */
    width: 100%;
}

a {
  color: #005cbb;
  font-size: 14px;
  text-decoration: none;
}